/* You're welcome to change any of this! */
* {
    display: flex
    flex: 
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #7871F5 ;
}
header, section {
    padding: 10px;
    background-color: #CF4D6F;
}
header {
    background-color: #C1BDDB;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #3B429F;
    padding-top: 40px;
    padding-bottom: 40px;
}

a:visited{
    color: whitesmoke;
}
a:link {
    color: black;
}
a:hover {
    color:whitesmoke;
}
a:active {
    color:whitesmoke;
}

main { 
    display: flex; 
    flex-direction: row;
}

section {
    width: 33%;
}

#homework { 
    background-color: #CADAED;
}

#tutorials {
    background-color: #FA14BF;
}

